*{
	margin: auto;
	padding: 0;
}
.body1{
	width: 1300px;
	height: 870px;
	margin-top: 50px;
	box-shadow: 0 0 5px rgba(200,200,200);
	position: relative;
	background-color: ghostwhite;
}
.div-head{
	width: 100%;
	height: 8%;
	position: absolute;
	top: 0;
	background-color: white;
}
.img-liao{
	height: 50%;
	position: absolute;
	top: 25%;
	left: 10%;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: #000000;
	text-decoration: none;
}
span{
	position: absolute;
}
.teng{
	top: 35%;
	left: 15%;
}
.shou{
	top: 35%;
	left: 25%;
}
.chang{
	top: 35%;
	left: 30%;
}
.div-span-head{
	width: 20%;
	height: 4%;
	position: absolute;
	top: 8%;
	left: 10%;
	font-size: 10px;
	line-height: 42px;
}
.div-body3{
	width: 80%;
	height: 25%;
	position: absolute;
	top: 12%;
	left: 10%;
}
.div-body3left{
	width: 70%;
	height: 50%;
	position: absolute;
	left: 0;
	background-color: white;
	box-shadow: 0px 0px 1px;
}
.span-qun1,.span-Q1{
	left: 7%;
	font-size: 15px;
}
.span-qun1{
	top: 25%;
}
.span-Q1{
	bottom: 20%;
}
.div-body3right{
	width: 28%;
	height: 80%;
	position: absolute;
	right: 0;
	background-color: white;
	box-shadow: 0px 0px 1px;
	font-size: 15px;
}
.span-re1,.span-Q2,.span-qun2{
	left: 10%;
}
.span-re1{
	top: 10%;
	font-size: 20px;
}
.xian{
	height: 1px;
	width: 30%;
	position: absolute;
	top: 42%;
	left: 10%;
}
.span-Q2{
	top: 55%;
}
.span-qun2{
	top: 75%;
}